<li>
    <a href="{{ path('application_add') }}">Aplikacje</a>
</li>
<li>
    <a href="{{ path('activity_add') }}">Aktywności</a>
</li>
<li>
    <a href="{{ path('document_for_agency') }}">Dokumenty</a>
</li>