/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/vendor/
/.idea/
/var/logs/
/var/cache/
/var/sessions/
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/app/config/parameters_text.yml
/app/config/parameters_dev.yml
/app/config/parameters_test.yml
