<li>
    <a href="{{ path('ip_addresses') }}">Adresy IP</a>
</li>
<li>
    <a href="{{ path('application_add') }}">Aplikacje</a>
</li>
<li>
    <a href="{{ path('activity_add') }}">Aktywnosci</a>
</li>
<li>
    <a href="{{ path('documents_for_agency') }}">Dokumenty</a>
</li>