{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h4>Hasło administratora: <strong>{{ passwords.admin }}</strong></h4>
</div>
<div class="row">
    <h4>Hasło publiczne: <strong>{{ passwords.public }}</strong></h4>
</div>
{% endblock %}

