{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    Hasło administratora: {{ passwords.admin }}
</div>
<div class="row">
    Hasło publiczne: {{ passwords.public }}
</div>
{% endblock %}

